
@{
    ViewBag.Title = "Achat";
}

<h2>Achat</h2>
<p>Pages d'accueil des achats.</p>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Afficher les achats:</h4>
            </div>
            <div class="card-body">
                <a href="Tous-les-achats" class="btn btn-primary mx-auto d-block">Afficher<i class="fas fa-desktop pl-2"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Ajouter un achat:</h4>
            </div>
            <div class="card-body">
                <a href="Ajouter-achat" class="btn btn-success mx-auto d-block">Ajouter<i class="fas fa-check pl-2"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Modifier un achat:</h4>
            </div>
            <div class="card-body">
                <a href="Chercher-un-achat" class="btn btn-warning mx-auto d-block">Modifier<i class="fas fa-pen pl-2"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Supprimer un achat:</h4>
            </div>
            <div class="card-body">
                <a href="Supprimer-un-achat" class="btn btn-danger mx-auto d-block">Supprimer<i class="fas fa-times pl-2"></i></a>
            </div>
        </div>
    </div>
</div>