@model StockHouse.Models.Magasin
@{
    ViewBag.Title = "AjouterUnMagasin";
}

<h2>AjouterUnMagasin</h2>

@using (Html.BeginForm("AjouterUnMagasin", "Magasin", FormMethod.Post))
{
    <div class="form-group">
        <label>Nom:</label>
        @Html.TextBoxFor(p => p.Nom, new { @value = Model.Nom })
        @Html.ValidationMessageFor(p => p.Nom)
    </div>
    <div>
        <label>Adresse:</label>
        @Html.TextBoxFor(p => p.Adresse, new { @value = Model.Adresse })
    </div>
    <div>
        <label>Vile:</label>
        @Html.TextBoxFor(p => p.Ville, new { @value = Model.Ville })
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
}