@model StockHouse.Models.User

@{
    ViewBag.Title = "AjouterUser";
}

<h2>AjouterUser</h2>

@using (Html.BeginForm("AjouterUnUser", "User", FormMethod.Post))
{
    <div class="form-group">
        <label>Nom:</label>
        @Html.TextBoxFor(p => p.Nom)
    </div>
    <div>
        <label>Adresse:</label>
        @Html.TextBoxFor(p => p.AdresseMail)
    </div>
    <div>
        <label>Ville:</label>
        @Html.TextBoxFor(p => p.MotDePasse)
    </div>
    <div>
        <label>Ville:</label>
        @Html.TextBoxFor(p => p.Role)
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
}