
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Pages d'accueil des utilisateurs.</p>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Afficher les utilisateurs:</h4>
            </div>
            <div class="card-body">
                <a href="Tous-les-utilisateurs" class="btn btn-primary mx-auto d-block">Afficher<i class="fas fa-desktop pl-2"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Ajouter un utilisateur:</h4>
            </div>
            <div class="card-body">
                <a href="Ajouter-utilisateur" class="btn btn-success mx-auto d-block">Ajouter<i class="fas fa-check pl-2"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Modifier un utilisateur:</h4>
            </div>
            <div class="card-body">
                <a href="Chercher-un-utilisateur" class="btn btn-warning mx-auto d-block">Modifier<i class="fas fa-pen pl-2"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Supprimer un utilisateur:</h4>
            </div>
            <div class="card-body">
                <a href="Supprimer-un-utilisateur" class="btn btn-danger mx-auto d-block">Supprimer<i class="fas fa-times pl-2"></i></a>
            </div>
        </div>
    </div>
</div>
