@model StockHouse.Models.User

@{
    ViewBag.Title = "RegisterPage";
}

<h2>Créer un compte</h2>

@using (Html.BeginForm("RegisterUser", "User", FormMethod.Post))
{
    <div class="form-group">
        <label>Nom:</label>
        <br/>
        @Html.TextBoxFor(p => p.Nom)
    </div>
    <div>
        <label>E-mail:</label>
        <br/>
        @Html.TextBoxFor(p => p.AdresseMail)
    </div>
    <div>
        <label>Mot de passe:</label>
        <br/>
        @Html.TextBoxFor(p => p.MotDePasse)
    </div>
    <div>
        @Html.HiddenFor(p=>p.Role, new {@value="Membre"})
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
}