
@{
    ViewBag.Title = "IndexProduits";
}

<h2>Gestion des Produits:</h2>
<p>Pages d'accueil des produits.</p>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h4>Afficher les produits:</h4>
        </div>
        <div class="card-body">
            <a href="Tous-les-produits" class="btn btn-primary mx-auto d-block">Afficher<i class="fas fa-desktop pl-2"></i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Ajouter un produit:</h4>
        </div>
        <div class="card-body">
            <a href="Ajouter-produit" class="btn btn-success mx-auto d-block">Ajouter<i class="fas fa-check pl-2"></i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Modifier un produit:</h4>
        </div>
        <div class="card-body">
            <a href="Chercher-un-produit" class="btn btn-warning mx-auto d-block">Modifier<i class="fas fa-pen pl-2"></i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Supprimer un produit:</h4>
        </div>
        <div class="card-body">
            <a href="Supprimer-un-produit" class="btn btn-danger mx-auto d-block">Supprimer<i class="fas fa-times pl-2"></i></a>
        </div>
    </div>
</div>
