@model StockHouse.Models.Piece
@{
    ViewBag.Title = "AjouterPiece";
}

<h2>Pièce à ajouter</h2>

@using (Html.BeginForm("AjouterUnePiece", "Piece", FormMethod.Post))
{
    <div class="form-group">
        <label>Nom:</label>
        <br/>
        @Html.TextBoxFor(p => p.Nom)
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
}