@model StockHouse.Models.Piece
@{
    ViewBag.Title = "ModifierPiece";
}

<h2>Modifier une pièce</h2>

@using (Html.BeginForm("ModifierPiece", "Piece", FormMethod.Post))
{
    <div class="form-group">
        <label>ID:</label>
        <br/>
        @Html.TextBoxFor(p => p.Id, new { @value = Model.Id, @readonly = "true" })
    </div>
    <div class="form-group">
        <label>Nom:</label>
        <br/>
        @Html.TextBoxFor(p => p.Nom, new { @value = Model.Nom })
        <br/>
        @Html.ValidationMessageFor(p => p.Nom)
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
}