@using StockHouse.Models
@model List<Piece>
@{
    ViewBag.Title = "ToutesLesPieces";
}

<h2>Toutes les pièces</h2>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Piece piece in @Model)
         {
            <tr>
                <th scope="row">@piece.Id</th>
                <td>@piece.Nom</td>
            </tr>
         }
    </tbody>
</table>